[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "src/test/tree-sitter-python"]
	path = src/test/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
